@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Jura';
    src: url('/fonts/Jura-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Jura';
    src: url('/fonts/Jura-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'KharkivTone';
    src: url('/fonts/kharkiv_tone.ttf') format('truetype');
}
html {
    scroll-behavior: smooth;
}

body {
    @apply font-kharkiv text-white bg-black;
}
h1 {
    @apply font-kharkiv text-8xl leading-none tracking-[2px];
}
h2 {
    @apply font-kharkiv text-7xl leading-[1.1] tracking-[1px];
}
h3 {
    @apply font-kharkiv text-6xl leading-[1.1] tracking-[1px];
}
